@use 'variables';


@mixin gradient {
    background-color: variables.$color-primary;
    background-image: linear-gradient(360deg, variables.$color-primary 30%, variables.$color-secondary 100%);
}

@mixin button {
    font-weight: 700;
    background-color: variables.$color-primary;
    color: white;
    padding: variables.$spacer variables.$double-spacer;
    border-radius: variables.$half-spacer;
    text-align: center;
    width: 150px;
}

@mixin m-bottom {
    margin-bottom: variables.$spacer;
}

@mixin transform {
    transform: scale(1.1);
   
}

@mixin transition {
    transition: all 0.3s ease-in-out;
}


