$color-primary: #1a34b8;
$color-secondary: #a112ac;
$color-supplementary:rgb(235, 244, 243);

$default-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;

$spacer: 1em;
$double-spacer: $spacer * 2;
$triple-spacer: $spacer * 3;
$half-spacer: $spacer / 2;
$mini-spacer: $half-spacer / 2;

