$color-primary: #5d25b3;
$color-secondary: #5d25b3;
$color-accent: #2f43b6;
$color-supplementary: #f4f6f8;

$default-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;

$spacer: 1em;
$double-spacer: $spacer * 2;
$triple-spacer: $spacer * 3;
$half-spacer: $spacer / 2;
$mini-spacer: $half-spacer / 2;

//breakpointy pro Media Queries
$screen-lg: 680px;


