@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    background-color: variables.$color-supplementary;
    padding: variables.$spacer;
    
    @include mixins.display-lg {
        border-radius: variables.$half-spacer;
    }

    &__description {
        text-align: center;
        margin: variables.$spacer;
        font-size: 0.8em;
    }
}



