@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    background-color: variables.$color-supplementary;
    padding: variables.$spacer;
    margin-left: calc(variables.$spacer * -1);
    margin-right: calc(variables.$spacer * -1);
    width: calc(100% + (variables.$spacer * 2));
    
    @include mixins.display-lg {
        border-radius: variables.$half-spacer;
    }

    &__description {
        text-align: center;
        margin: variables.$spacer;
        font-size: 0.8em;
    }
}



