@use '../abstracts/variables';
@use '../abstracts/mixins';


.header {

    @include mixins.display-lg {
        margin: variables.$spacer 0;
    } 
}

.header-wrapper {

    @include mixins.display-lg {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-right: variables.$spacer;
    }
}

