@use '../abstracts/variables';
@use '../abstracts/mixins';


.header {

       

        @media screen and (min-width: 680px) {
            margin: variables.$spacer 0;
        }


    
}

.header-wrapper {

    @media screen and (min-width: 680px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    }
}

