@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn-link {
    text-decoration: none;
    display: block;
    color: white
}
.btn {

    @include mixins.button;
    @include mixins.m-bottom;

    &:hover, 
    &:active {
        @include mixins.transform;
        @include mixins.transition;
    
        background-color: lighten(variables.$color-primary, 10%);
    }
 
}

    
.buttons {

    display: flex;
    gap: variables.$spacer;
    justify-content: center;

    @media screen and (min-width: 680px) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        
        
    }
}