@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn-link {
    text-decoration: none;
    display: block;
    color: white
}

.btn {
   

    //pro efekt na tlačítkách
    overflow: hidden;
    position: relative;
    border: none;
    transition: background-color 0.2s ease;
  

    
    

    @include mixins.button;
    @include mixins.m-bottom;

    &:hover, 
    &:active {
        background-color: lighten(variables.$color-primary, 10%);
    }

    @include mixins.display-lg {
        width: 120px;
        height: 45px;
    }

}

.btn--secondary {
    background-color: transparent;
    color: variables.$color-primary;
    border: 2px solid variables.$color-primary;
}

.btn--secondary:hover,
.btn--secondary:active {
    background-color: variables.$color-primary;
    color: white;
}

    
.buttons {
    display: flex;
    gap: variables.$spacer;
    justify-content: center;

    @include mixins.display-lg {
        grid-column: 1 / 2;
        grid-row: 4 / 5; 
    }
}

button .circle {
    position: absolute;
    background-color: (variables.$color-secondary);
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
