@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
   

    //pro efekt na tlačítkách
    overflow: hidden;
    position: relative;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    line-height: 1.2;
    transition: background-color 0.2s ease;
  

    
    

    @include mixins.button;
    font-size: 0.95em;
    padding: 0.8em 1.6em;
    width: auto;
    height: auto;
    min-width: 140px;
    @include mixins.m-bottom;

    &:hover, 
    &:active {
        background-color: lighten(variables.$color-accent, 10%);
    }

}

.btn--secondary {
    background-color: transparent;
    color: variables.$color-accent;
    border: 2px solid variables.$color-accent;
}

.btn--wide {
    min-width: 180px;
}

.btn--secondary:hover,
.btn--secondary:active {
    background-color: lighten(variables.$color-accent, 10%);
    color: white;
}

    
.buttons {
    display: flex;
    gap: variables.$spacer;
    justify-content: center;

    @include mixins.display-lg {
        grid-column: 1 / 2;
        grid-row: 4 / 5; 
    }
}

button .circle {
    position: absolute;
    background-color: (variables.$color-secondary);
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
