@use '../abstracts/variables';
@use '../abstracts/mixins';

.card {
    border-radius: variables.$half-spacer;
    padding: variables.$spacer;
    width: 100%;
    margin: variables.$spacer auto;
    background-color: variables.$color-supplementary;
    min-height: 200px;

    @include mixins.display-lg {
            display: flex;
            gap: variables.$double-spacer;
            justify-content: space-between;
            align-items: center;

        }

    &__header {
        text-align: center;

        @include mixins.m-bottom;

        @include mixins.display-lg {
            flex: 0 0 30%;
        }
    }

    &__title {
        font-size: 1.15em;
        color: variables.$color-accent;
        margin-bottom: variables.$mini-spacer;

        @include mixins.display-lg {
            font-size: 1.25em;
        }
    }

    &__date {
        display: inline-block;
        color: variables.$color-primary;
        font-weight: 600;
        font-size: 0.75em;
        letter-spacing: 0.02em;
        background: rgba(variables.$color-primary, 0.12);
        border: 1px solid rgba(variables.$color-primary, 0.2);
        padding: 0.25em 0.6em;
        border-radius: variables.$half-spacer;

        @include mixins.m-bottom;
    }

    &--project {
        margin: variables.$double-spacer 0;
    }
    
    &--inactive {
        opacity: 0.7;
    }
}
