@use '../abstracts/variables';
@use '../abstracts/mixins';

.resume {
    padding: variables.$spacer;

    @include mixins.display-lg {
        padding: 0;
    }
}

.card {
    border-radius: variables.$half-spacer;
    padding: variables.$spacer;
    width: 100%;
    margin: variables.$spacer auto;
    background-color: variables.$color-supplementary;
    min-height: 200px;

    @include mixins.display-lg {
            display: flex;
            gap: variables.$double-spacer;
            justify-content: space-between;
            align-items: center;

        }

    &__header {
        text-align: center;

        @include mixins.m-bottom;

        @include mixins.display-lg {
            flex: 0 0 30%;
        }
    }

    &__date {
        color: variables.$color-primary;
        font-weight: 700;

        @include mixins.m-bottom;
    }

    &--project {
        margin: variables.$double-spacer 0;
    }
    
    &--inactive {
        opacity: 0.7;
    }
}
