@use '../abstracts/variables';
@use '../abstracts/mixins';

.resume {
    padding: variables.$spacer;

    @media screen and (min-width: 680px) {
        padding: 0;
    }
}

.card {


    border-radius: variables.$half-spacer;
    padding: variables.$spacer;
    width: 100%;
    margin: variables.$spacer auto;
    background-color: variables.$color-supplementary;
    min-height: 200px;

    @media screen and (min-width: 680px) {
            display: flex;
            gap: variables.$double-spacer;
            justify-content: space-between;
            align-items: center;

        }

    &__header {

        @include mixins.m-bottom;
        text-align: center;

        @media screen and (min-width: 680px) {
            // text-align: start;
            flex: 0 0 30%;
        }
    }

    &__date {
        color: variables.$color-primary;
        font-weight: 700;

        @include mixins.m-bottom
    }

}

.card--project {
    margin: variables.$double-spacer 0;
}