@use '../abstracts/variables';
@use '../abstracts/mixins';

.icons {
    text-align: center;
}

.icon-link {
    margin-right: variables.$spacer;
}

.icon-image:hover,
.icon-image:focus {
    filter: invert(50%);

    @include mixins.transform;
    @include mixins.transition;

  
}
