@use '../abstracts/variables';
@use '../abstracts/mixins';

.icons {

    display: flex;
    justify-content: center;
    gap: variables.$spacer;
}

.icon-image:hover,
.icon-image:focus {
    filter: invert(50%);

    @include mixins.transform;
    @include mixins.transition;

}
