@use '../abstracts/variables';
@use '../abstracts/mixins';

.icons {

    display: flex;
    justify-content: center;
    gap: variables.$spacer;
    margin-top: variables.$half-spacer;
}

.project .icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
}

.project .icon-image {
    width: 30px;
    height: 30px;
}

.icon-image:hover,
.icon-image:focus {
    filter: invert(50%);

    @include mixins.transform;
    @include mixins.transition;

}
