@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    min-height: 100vh;
    line-height: 1.7;
}


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 variables.$half-spacer;

    @include mixins.display-lg {
        margin: 0 auto;
        max-width: 1200px;
    }   
}

.main {
    flex: 1;
}

.title {
    color:variables.$color-secondary;
    text-align: center;
    font-size: 2.4em;

    @include mixins.display-lg {
        font-size: 2.7em;
    }

    &--hero {
        text-transform: uppercase;
        margin-top: variables.$spacer;
    
        @include mixins.display-lg {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: 0;
        }
    }
}



.subtitle {
    color: variables.$color-accent;
    font-size: 1.6em;

    @include mixins.display-lg {
        font-size: 1.8em;
    }

   
    
    &--projects {
        font-size: 1.25em;
        margin-bottom: variables.$mini-spacer;
    }
    
    &--resume {
        color: variables.$color-primary;
        margin: variables.$spacer 0;
        
        @include mixins.display-lg {
            font-size: 2em;
        }
    }
}

.description {
    font-size: 1.05em;
    line-height: 1.7;
    margin-bottom: 20px;
}

.weight {
    font-weight: 600;
}

.link {
    color: variables.$color-accent;

    &:hover,
    &:focus {
        color: variables.$color-secondary;
    }
}

