<header class="header">

    <div class="header-aligner">

        <p class="header__description">Frontend Web Developer &amp; QA Tester</p>
    
        <h1 class="header__title">Iveta Círová</h1>

        
        <a href="#" a class="btn">O mně</a>
        <a href="#" a class="btn">Projekty</a>
    
        
        <img src="/images/profil-foto2.png" alt="profilové foto" class="header__image" width="300px">

    </div>
        
</header>