<nav class="navigation">

    <ul class="menu">
        <li class="menu__item"><a href="/" class="menu__link">Home</a></li>
        <li class="menu__item"><a href="" class="menu__link">CV</a></li>
        <li class="menu__item"><a href="" class="menu__link">Projekty</a></li>
        <li class="menu__item"><a href="" class="menu__link">Kontakt</a></li>
    </ul>
</nav>