@use '../abstracts/variables';
@use '../abstracts/mixins';

.skills {
    margin-bottom: variables.$double-spacer;

    @include mixins.display-lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: variables.$double-spacer;
    }
}

.skill-group {
    margin-bottom: variables.$double-spacer;
}

.skill-group h3 {
    font-size: 1.1em;
    margin-bottom: variables.$spacer;
    color: variables.$color-accent;
}
