@use '../abstracts/variables';
@use '../abstracts/mixins';

.resume {
    padding: variables.$spacer;

    @include mixins.display-lg {
        padding: 0 variables.$double-spacer;
    }
}

.skills {
    margin-bottom: variables.$double-spacer;

    @include mixins.display-lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: variables.$double-spacer;
    }
}

.resume__actions {
    display: flex;
    justify-content: center;
    margin: variables.$spacer 0 variables.$double-spacer;

    @include mixins.display-lg {
        justify-content: flex-start;
    }
}

.skill-group {
    margin-bottom: variables.$double-spacer;
}

.skill-group h3 {
    font-size: 1.1em;
    margin-bottom: variables.$spacer;
    color: variables.$color-accent;
}
