@use '../abstracts/variables';
@use '../abstracts/mixins';

.hero {
    padding: variables.$spacer;
    background-color: variables.$color-supplementary;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixins.m-bottom;
    @include mixins.display-lg {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        justify-items: start;
        align-items: center;
        border-radius: variables.$half-spacer;
        padding-left: 100px;
    }

    &__lastname {
        text-transform: uppercase;
    }

    &__description {
        @include mixins.m-bottom;
        font-size: 1.5em;
        text-align: center;

        @include mixins.display-lg {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            text-align: start;
        }

    }

    &__image {
        display: block;
        margin: variables.$triple-spacer auto;
        border-radius: variables.$half-spacer;
        max-width: 100%;
   
        
        @include mixins.gradient;
        @include mixins.display-lg {
       
            grid-column: 2 / -1;
            grid-row: 1 / 5;
            justify-self: end;
        }
    }
}

.about {
    padding: variables.$spacer;
    margin: variables.$triple-spacer;
}

.ai {
    padding: variables.$spacer;
    margin: variables.$triple-spacer;
}

.ai-tools {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.ai-tools li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.ai-tools strong {
  font-weight: 600;
}


.tech {
  margin: 4rem 0;
}

.tech h2 {
  margin-bottom: 1rem;
}

.tech-line {
  margin: 0.25rem 0;
  line-height: 1.6;
}

.tech .accent {
  font-weight: 600;
}

.tech .muted {
  opacity: 0.7;
  font-size: 0.9em;
}

.free-time {
  margin: 4rem 0;
  max-width: 640px;
}

.free-time h2 {
  margin-bottom: 1rem;
}

.free-time p {
  line-height: 1.6;
  color: #444;
}

.free-time a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.free-time a:hover {
  opacity: 0.7;
}




